<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.first">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.First"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".Dashboard2"
            android:exported="true"/>
        <activity
            android:name=".Dashboard"
            android:exported="true" />
        <activity
            android:name=".MainNotes"
            android:exported="true" />

        <activity
            android:name=".FileManager"
            android:exported="true" />

        <activity android:name=".FileList"
            android:exported="true"/>


        <activity
            android:name=".Chatroom"
            android:exported="true"/>

        <activity android:name=".TakeNotes"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden"
            android:exported="true"/>

        <activity android:name=".createNotes"
            android:exported="true"/>

        <activity
            android:name=".Registration"
            android:exported="true" />
        <activity
            android:name=".Calendar"
            android:exported="true" />
        <activity
            android:name=".Appointment"
            android:exported="true" />
        <activity android:name=".Assignment"
            android:exported="true"/>
        <activity
            android:name=".LoginUser"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>